.calcContainer {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 200px;
    height: 300px;
}

.calcBody {
    flex-direction: column;
    display: flex;
    flex : 10;
}

.calcBody div {
    display: flex;
    flex : 1;
}

.calcBody div button {
    display: flex;
    flex : 1;
}

.calcHead {
    display: flex;
    padding: 5%;
    flex: 1;
    background-color: rgb(150, 150, 177);
}

